{% extends "neelamtenthouse/basic.html" %}
{% block title %}Home page{% endblock %}
{% block style %}
.boss{
margin:auto
;}
h1 {text-align: center;}
p {text-align: left;
padding-left: 10px;}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 304px;}
#info{
text-align: left;
padding-top: 24px;

}
img {width:500px;
           height:616px;
border: white 1px solid;}
.ininfo{
font-size: 24px;
font-family: none;
padding-left: 0px;
}

#loc{
font-size: 20px;}
#contact{
float: left;
padding:10px;}
#fb{
    padding: 73px;}
.display-5{
    color: hsl(183deg 60% 55%);}
.display-3{
color: #e41919;}
#loc{
background-color: #daf910;
    border: 3px #000000 solid;
border-radius: 9px;}
.content{
padding: 10px;}
#add2{border: 3px #000000 solid;
border-radius: 9px;
background-color: #daf910;}
.list{font-family: serif;
font-weight: 600;
}
.container3{
margin: 3px;
    border: 10px;}
#carouselExampleInterval{
    w
margin: 15px ;}
*{
box-sizing:border-box;}
#fb{

}
#map{
;}

{% endblock %}

{% block body %}
<h1 class="display-5" xmlns="http://www.w3.org/1999/html">Event Planner in Raebareli.</h1>
<h1 class="display-3"><b>Neelam Tent House</b></h1>




<!-- slider starts here-->
<!-- console.log({{all_img.0.0.0.image}})-->
<div class="container boss">
    <p id="loc"><b>Location:</b><em>Near Degree college chauraha Canal Road (Below Megashop) </em><br>
    <b>Mobile no:</b><em> 9415524236</em>
</p>
{% for image in all_img %}
{% if forloop.counter == 1 %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
            <img src="/media/{{all_img.0.0.0.image}}" class="d-block w-100" alt="...">
        </div>
        {% else %}
        {% for i in image|slice:" :1" %}
        <div class="carousel-item" data-bs-interval="1000">
            <img src="/media/{{i.0.image}}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</a>
</div>

<!-- Information starts here-->
<div class="container content">
    <h1 id="info" style=" font-family: auto;">Information about NeelamTentHouse</h1>
    <p class="ininfo">
        Neelam Tent House is known for its trustworthy approach to their job by creating different and delightful weddings for its well deserving clients. All you have to do is let its professionals know your ideas and they will take care of the rest. They'll keep in mind your estimated budget at all times to avoid exceeding the same, and provide you a high quality outcome.
    </p>
<h3>Services offered</h3>
<p class="ininfo" >With them, you can have your dream wedding at a reasonable cost. Their wedding package includes the following customised services:</p>
<ul class="ininfo list"><li>Budget planning and management</li>
<li>Venue design and décor</li>
<li>Floral and seating arrangements</li>
<li>Lighting and sound</li>
<li>Linens and draperies</li>
<li>Stage/mandap setup</li>
</ul>
    <h3>Other Services</h3>
    <p class="ininfo">Lakshmi Tent House also specialises in planning and organising many other types of social events and parties which include:</p>
    <ul  class="ininfo list"><li>Corporate events</li>
<li>Promotional/political campaigns</li>
<li>Devotional events</li>
<li>Private parties</li>
</ul>

    <h2 >Location of Neelam Tent House</h2>
    <p id="add2"><b>Location:</b><em>Near Degree college chauraha Canal Road (Below Megashop) </em><br>
    <b>Mobile no:</b><em> 9415524236</em>
</p>
 <div class="container container3">
    <span id="map"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2842.9761069607175!2d81.24083271436135!3d26.21770028343181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399ba15005f3ea93%3A0xab874f6354ae5b5e!2sNeelam%20tent%20house!5e1!3m2!1sen!2sin!4v1609251544156!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></span>

   <span id="fb">  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fneelamtent9%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></span>
 </div>
  <!--    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fneelamtent9%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>-->
</div>
{% endblock %}